header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    /* border: 1px solid wheat; */
}

nav .bg-blur-nav{
    /* display: flex; */
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, .02);
    box-shadow: -.2rem .2rem 6px rgba(0, 0, 0, .15);

    /* border: 1px solid white;     */
}

nav .width-lock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem;
    width: min(100%, 2200px);

    /* border: 1px solid white; */
}


nav h1{
    font-size: 1rem;
    letter-spacing: .1rem;
    font-family: code;
    padding-left: 1rem;
    font-weight: 550;



    /* border: 1px solid white; */
}

#ajla{
    opacity: .8;
    letter-spacing: .25rem;
    /* font-weight: 700; */
}

nav button{
    background: none;
    border: none;
    color: var(--p_white);
    font-size: 1.1rem;
    cursor: pointer;
    padding-right: 1rem;
}

.desktop-nav{
    display: none;
}

#navlinks{
    position: absolute;
    z-index: 1;
    top: 120%;
}


/* FULL BURGER */
nav ul{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 4rem;
    
    
    transform-origin: top center;


    width: 90%;
    /* height: 0vh; */
    border-radius: .5rem;
    box-shadow: -.3rem .3rem 5px rgba(0, 0, 0, .2);

    overflow: hidden;
    

    backdrop-filter: blur(10px);
    /* background: rgba(255, 255, 255, 0.1); */

    transition-property: height, display;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    transition-behavior: allow-discrete;

    z-index: 1;


    
    /* border: 1px solid white; */
}


/* OPEN STATE */
.nav-open{
    display: flex;
    height: 85vh;
    
}

/* BEFORE OPEN - STARTING STATE */
@starting-style{
    .nav-open{
        height: 0vh;;
    }
}

/* AFTER OPEN - ENDING STATE */
.nav-close{
    display: none;
    height: 0vh;
}




nav li{
    width: 100%;
    text-align: center;

    /* border: 1px solid white; */
}

nav ul li a {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    font-family: code_mono;
    font-weight: 500;
    letter-spacing: .2rem;

    /* border: 1px solid white; */

}




@media screen and (min-width: 640px){
    
    nav{
        flex-direction: row;
        

        /* border: 2px solid white; */
        
    }

    nav .width-lock{
        padding: .5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        /* border: solid 1px white; */
    }

    nav h1{
        font-size: 1.5rem;
        padding: 1rem;
        
    }

    nav button{
        display: none;
    }

    .desktop-nav{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;

        backdrop-filter: none;
        box-shadow: none;

        width: fit-content;

        /* border: 2px solid white; */
    }



    .desktop-nav li a{
        font-size: 1.4rem;
        font-weight: 400;
        color: rgba(255, 255, 255, .7);
        padding:.5rem;
    }
    /* MOBILE NAV */
    nav ul{
        display: none;
    }




}

