/* HEADER  */
.header{
    /* position: fixed;
    top: 0px; */
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;

    /* background-color: beige; */
    /* border: 2px solid black; */
}

.header h1{
    font-size: 1.3rem;
    margin-left: 2rem;
    font-weight: 600;
    letter-spacing: 1.6px;
}

.nav{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 8%;
    width: 90%;
    margin-top: .5rem;
    border-radius: 5px;
    backdrop-filter: blur(60px) brightness(0.8);
    
    
    color: var(--p_white);
    

    /* transform: translateY(-140%); */
    
    

    /* border: 2px solid white; */
}

#nav-bar{
    transition:.5s ease-out;
    transform: translateY(-150%);

}

.nav a{
    padding: .7rem;
    padding-block: 2rem;
    text-decoration: none;
    color: var(--p_white);
    font-weight: 300;
}

:is(.nav) a:hover,a.active,a.focus-within{
    font-weight: 900;                       
}

header button{
    display: block;
    padding: .7rem;
    font-size: 1.3rem;
    border: none;
    background-color: transparent;
}

header button i{
    color: var(--p_white);
}

.mob-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 1.5rem;
    padding-block: .4rem;
    position: absolute;
    top: 100%;
    
    backdrop-filter: blur(60px)  brightness(.8);

    /* border: 2px solid black; */
}


@media (min-width:560px) {
    .header{
        flex-flow: row nowrap;
        gap: none;
        backdrop-filter: blur(60px) brightness(.8);
        position: sticky;
        top: 0;


        
        /* border: 2px solid whitesmoke; */
    }
 
    
    .nav {
        display: flex;
        flex-flow: row nowrap;
        width: auto;
        position: static;
        margin-top: 0;
        margin-right: .5rem;
        backdrop-filter: none;
    }

    .nav a{
        padding-block: none;
    }

    #nav-bar{
        transform: none;
    }

    header button{
        display: none;
    }

    .mob-header{
        width: auto;
        position: static;
        backdrop-filter: none;

        
    }

}



/* END HEADER */

/* ---------------------------------------------------------------- */

/* FOOTER */
.contact{
    color: var(--p_white);
    text-align: left;
    margin: auto;
    background-color: var(--p_black);
    /* padding: 1rem; */


    /* border: 2px solid white; */
    
}



footer h2{
    font-family: lemon_m;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem 0rem 1rem 0rem ;

    /* border: 2px solid white; */
}

.wrapper{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    flex-flow: column nowrap;

    /* border: 2px solid white; */
}

.wrapper quote{
    font-family: trinco;
    padding: 1rem;
    font-size: 1.2rem;
    padding-top: 2rem;
    

    /* border: 2px solid white; */
}

.con-card  {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    padding: .3rem;
    align-items: center;
}

.con-card i{
    padding: .5rem;
    font-size: 1.2rem;
}

@media screen and (min-width:560px) {

    .wrapper{
        flex-flow: row nowrap;
        gap: 1.5rem;
        align-items: center;
    }

    .wrapper quote{
        padding-top: .5rem;
    }

    
}

/* END FOOTER */
