/* MAIN IMAGE */

.main-img{
    width: 100%;
    position: relative;
    padding-inline: 2rem;



    /* border:2px solid white; */
}

.hero-img{
    width: 100%;
    height: auto;
}

.overlay{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    

    /* border: 2px solid white; */
}

/* END MAIN IMAGE */

/* TITLE BLOCK */

.content{
    background-color: var(--p_white);
    color: var(--p_black);
    padding-block: 2rem;
    


    /* border: 2px solid blue; */
}

.title-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: min(3rem,7vw);
    

    /* border:2px solid red; */
}

.title-block .title-wrapper{
    display: flex;
    /* align-items: center; */
    

    /* border: 2px solid magenta; */
}

.deco{
    /* height: 100%; */
    width: 10px;
    background-color: var(--p_black);
    margin-right: .7rem;

    /* border: 2px solid blue; */
}

.title-block h2{
    font-size: min(4rem,8vw);
    letter-spacing: 1.5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: min(2vw,1.5rem);
    
}

.title-block h2 span{
    font-size: min(2.6rem,4.5vw);
    font-family: louis_i;
    font-weight: 300;
    letter-spacing: 0px;

    /* border: 2px solid red; */
}

.mt{
    width: min(160px,14vw);
    height:min(160px,14vw);
    display: flex;
    place-content: center;
    position: relative;
    padding: 2rem;
    background-color: var(--p_black);
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.36)


    /* border: 2px solid green; */
}

.mt img{
    width: 70%;
    height: auto;
    position: absolute;
    top: 34%;

}

/* TITLE BLOCK END  */


/* TEASER VIDEO PLAYER */

/* .teaser{
    
    
    border: 2px solid red;
} */

.vid-player{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;

    
    /* border: 2px solid blue; */
}

.vid-player iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* border: 2px solid green; */
    
}

.buttons{
    padding: min(8vw,2.5rem);
    display: flex;
    flex-flow: column nowrap;
    gap: min(6vw,2rem);
    justify-content: center;
    width: 100%;

}

.teaser button{
    padding: min(1.5rem,5vw);
    border: none;
    background-color: var(--red);
    border-radius: 5px;
    font-size: min(5vw,2rem);
    font-family: tommy;
    color: var(--sec_white);
    transition: .3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.teaser button i{
    padding-right: 1rem;
    display: block;
}

.teaser button:hover{
    transform: translateY(-5px);
    box-shadow: 3px 3px var(--sec_white);
    text-shadow: 2px 2px rgb(140, 140, 140);
}

/* TEASER VIDEO END */

/* TOKENS */
.tokens{
    background-color: var(--sec_white);
    color: var(--p_white);
    padding: min(12vw,2rem);
    grid-area: c;

    /* border: 2px solid red; */

}

.tokens ul{
    list-style: none;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    
    gap: min(.7rem,5vw);

    /* border: 2px solid green; */


}

.tokens ul li{
    font-size: 1.3rem;
    padding: min(1rem,5vw);
    background-color: var(--p_black);
    border-radius: 5px;
    box-shadow: 2px 2px var(--s_white);
}

.tokens .lang{
    background-color: var(--red);
    text-shadow: 2px 2px var(--s_white);

}



/* DESCRIPTION */
.desc{
    background-color: var(--sec_white);
    color: var(--p_black);
    padding: 2rem;
    position: relative;
    z-index: 0;

}

.desc i{
    font-size: 5rem;
    position: absolute;
    top: -4%;
    right:10%;
    z-index: -1;
    opacity: .4;
    


}

.desc-container{
    background-color: rgba(255, 255, 255, 0.262);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.137);
    
    
}
.desc-container p{
    font-weight: 600;
    font-size: 1.1rem;
}
/* DESCRIPTION END */


/* INFO */

.info{
    background-color: var(--p_white);
    color: var(--sec_white);
    padding: min(2rem,12vw);
    display: flex;
    flex-flow: column nowrap;
    gap: min(2rem,6vw);
    justify-content: center;


    /* border: 2px solid red; */

}

.credits{
    padding: 1.5rem;
    text-align: center;
    display: grid;
    place-content: center;
    /* line-height: 1.2rem; */
    border-radius: 5px;
    font-family: louis;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: min(1.2rem,3.5vw);
    background-color: var(--p_black);
    box-shadow: 5px 5px var(--sec_white);

    /* border: 2px solid red; */

}

.my-credits{
    /* padding: .5rem; */
    font-family: louis_i;
    font-size: min(1rem,4vw);

    /* border: 2px solid red; */
}

.budget{
    padding: 1.5rem;
    background-color: var(--p_black);
    border-radius: 5px;
    box-shadow: 5px 5px var(--sec_white);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;


    /* border: 2px solid red; */
}

.budget i{
    font-size: min(5rem,15vw);
    
}

.budget p{
    padding-top: 1rem;
    font-size: min(2rem,10vw);
    font-weight: 900;
}

/* INFO END */


/* POSTER GALLERY */

.posters{
    padding: min(5vw,1rem);
    background-color: rgb(30, 30, 30);

    /* border: 2px solid red; */
}

/* .head-container{

    
} */

.head-container article{
    display: flex;
    padding: min(5vw,1rem);
    font-size: min(8vw,1.2rem);
    letter-spacing: 1.2px;
    color: var(--sec_white);

    /* border: 2px solid cyan; */
}

.head-container .deco{
    background-color: var(--sec_white);
    width: 10px;
}

.head-container .poster-gallery{
    display: flex;
    /* justify-content: space-evenly; */
    overflow: scroll;
    gap: min(5vw,1rem);
    padding: 1rem;


    /* border: 2px solid pink; */
}

.head-container .poster-gallery img{
    width: min(75%,450px);
    height: auto;
    /* padding: min(5vw,1rem); */
    box-shadow: 5px 5px 10px rgba(157, 157, 157, 0.10);
    border-radius: 5px;
}

/* POSTER GALLERY END */



/* ------------------------------- */



/* MEDIA QUERIES */
/* WEB */


@media screen and (min-width:560px) {

    body{
        background-color: var(--sec_white);
    }
    
    main{
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-around;
        /* background-color: var(--p_white); */
        
        /* border: 5px solid cyan; */

    }  
    
    .web-container{
        min-width: 50%;
        /* height: 100%; */
        background-color: var(--p_white);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        border-radius: 6px;
        padding: 1rem;
        margin-top: 1rem;
        margin-left: .5rem;

        /* border:2px solid red; */
        
    }


    .main-img{
        min-width: 40%;
        padding-inline: 0;
        flex-basis: 45%;
        display: grid;
        place-content: start;
        margin-top: 1rem;
        border-radius: 6px;
        margin-inline: .5rem;
    }
    
    .hero-img{
        border-radius: 6px;
       
    }

    .overlay{
        display: none;
    }

    .content{
        padding-block: 0;
        
        
    }

    .title-block{
        padding-inline:0;
        padding: 1.5rem;
        
    }

    .title-block h2{
        font-size: 2rem;
    }

    .title-block h2 span{
        font-size: 1.2rem;
    }

    .mt{
        width: 2%;
        height: 2%;
    }

    .vid-player{
        border-radius: 7px;
    }

    

   

   .buttons{
    flex-flow: row nowrap;
    justify-content: center;
    /* padding-left: 1rem; */
    padding: 1rem ;
    gap: 1rem;
    width: 100%;

   }

   .teaser button{
    font-size: 1rem;
    padding: .8rem;
   }

   .tokens{
    min-width: 50%;
    border-radius: 5px;
   }

   .tokens ul li{
    font-size: 1rem;
    padding: .6rem;

   }

   .info{
    flex-flow: row nowrap;
    gap: 1.4rem;;
    align-items: stretch;
    

   }

   .credits{
    flex: 1;
    max-width: 220px;
    position: relative;
    /* height: 100%; */
    /* min-height: 500px; */
   }


   .budget{
    height: 100%;
    flex: 1;
    max-width: 220px;
    /* width: auto; */
   }

   .head-container .poster-gallery img{
    width: 33%;
    box-shadow: 5px 5px 10px rgba(157, 157, 157, 0.06);

   }







   

    
}





