/* HERO SECTION  */

.bg-hero{
    width: 100%;
    height:auto;
    opacity: .6;
}

.mob-bg-hero{
    display: none;
}

.hero{
    color: var(--p_white);
    width: 100%;
    background-color: var(--p_black);
    position: relative;
    background-color: black;
    

    /* border: 2px solid red; */
}

.hero-name-block{
    min-width: 60vw;
    display:flex;
    flex-flow: column nowrap;
    align-items: baseline;
    padding: 1rem 6.7%;
    font-family: avone,'Times New Roman', Times, serif;
    letter-spacing: 2px;
    position: absolute;
    top: 12vw;
    

    /* border:2px solid white; */
}

.hero-name-block h2{
    font-size: 8vw;
    font-weight: 200;
    text-wrap: nowrap;
    

    /* border:2px solid white; */
}

#name::before{
    content:'NIRMAL A J L A';
    animation: name 5s 2s ease backwards;
    -wevkit-animation: name 5s 2s ease backwards;
}

@keyframes name {
    0%{content: 'JHON';}
    25%{content: 'LEONARD';}
    50%{content: 'ARPUTHA';}
    75%{content: 'NIRMAL';}
    100%{content: 'NIRMAL A J L A'}
    
}

@-webkit-keyframes name {
    0%{content: 'JHON';}
    25%{content: 'LEONARD';}
    50%{content: 'ARPUTHA';}
    75%{content: 'NIRMAL';}
    100%{content: 'NIRMAL A J L A'}
    
}

.hero-name-block p{
    font-size: 3.5vw;
    font-weight: 200;

    /* border:2px solid white; */
}

.hero-img{
    width: 30%;
    height: auto;
    position: absolute;
    bottom: 0vw;
    right: 13vw;


}

.mob-hero-img{
    display: none;
}

.hero-name-block .hero-desc{
    font-size: 2.5vw;
    text-wrap: nowrap;
    letter-spacing: 1px;
    font-family: autograph, Georgia, 'Times New Roman';
    
    /* border:2px solid white; */
}

.watermark{
    font-family: broad, 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    position: absolute;
    bottom: 5vw;
    right: 10vw;
    font-size:2.6vw;
    opacity: 0.15;
}


/* WHO AM I */
.who{
    position:relative;
    width: 100%;
}

.who-bg{
    width: 100%;
    height: auto;
    opacity: .25;

    /* border: 2px solid red; */

}

.who h2{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
    font-size: 3vw;
}

.pellets{
    position:absolute;
    transform: translate(-50%, 0%);
    top: 22.5%;
    left: 50%;
    width: 100%;
    height: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    /* border: 2px solid red; */
}

.pellets ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .87vw 0rem;
    gap: 2.3vw;
    

    /* border:2px solid rgb(0, 255, 200); */
}

.pellets li{
    font-size: 2vw;
    padding: .9vw 1.5vw;
    font-weight: 600;
    letter-spacing: .7px;
    background-color: var(--p_white);
    border-radius: 5px;

    /* border:2px solid red; */
}

.pellets li:hover{
    transform: scale(110%);
    transition-timing-function: ease-out;
    transition-duration: 120ms;
}

.pellets a{
    color: var(--p_black);
}

.pellets a:hover{
    color: var(--s_white);
}


/* QUOTE */
.quote{
    width: 100%;
    padding: 2rem 3rem;
    background-color: var(--p_white);
    display: flex;
    justify-content: center;


    /* border: 2px solid red; */

}

.quote-container{
    display: flex;
    flex-flow: row nowrap;
    padding: 1.6rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--p_black);
    border-radius: 1rem;
    width: min(85vw,1000px);

    /* border: 2px solid rgb(0, 255, 4); */
}

#quote-article{
    display: flex;
    align-items: center;
    justify-content: baseline;

    /* border: 2px solid rgb(0, 47, 255); */
}

.quote-deco{
    width: 7px;
    height: 85px;
    background-color: var(--p_white);

    /* border: 2px solid rgb(255, 0, 0); */
}

.quote quote{
    font-family: tommy;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 1rem;
    line-height: 2rem;
    letter-spacing: 1.3px;

}

.ajla-logo {
    width: min(10vw,60px);
    height: auto;
    margin: 1.5rem;
    padding: .4rem;
    opacity: .6;
}
/* QUOTE END */


/* WORKS */
.works{
    background-color: var(--p_white);
    color: var(--p_black);
}

.works-head{
    display: flex;
    margin-bottom: 1rem;

    /* border: 2px solid red; */
}

.works .deco {
    width: 10px;
    
    background-color: var(--p_black);
    
    

    
}

.works h2{
    margin-left: 1rem;
    font-family: lemon_m;
    font-size: 1.8rem;
    font-weight: 400;
}

.carosel{
    padding-block: 1rem;
    display: flex;
    gap: 1rem;
}

.carosel a{
    box-shadow: 4px 4px 8px -1px #0000003e ;
    width: 35%;
    border-radius: 5px;
    place-content: center;
    position: relative;
    transition: .3s;
    overflow: hidden;

}



.carosel a:hover{
    transform: translateY(-5px);
    box-shadow: 4px 4px 8px -1px #0000008f ;
}

.carosel i{
    color: var(--p_white);
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.carosel P{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .3rem;

}

.carosel img{
    
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    
    filter: brightness(.7) saturate(.1) blur(50px); 

}

@media  (min-width:560px) {
    .carosel i{
        top: 45%;
    }
   
    .carosel p{
        display: block;
        text-align: center;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: .8rem;
        font-weight: 600;
        color: var(--sec_white);
    }
    
}



/* EDUCATION */

.education{
    background-color: var(--p_white);
    color: var(--p_black);
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

#edu{
    text-align:left;
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1rem ;
    font-family: lemon_m;
    letter-spacing: 1.2px;

    /* border: 2px solid; */

}

.education a{
    color: var(--p_black);
}

.all-e{
    display: grid;
    grid-template-columns: auto auto ;
    column-gap: 3rem;
    justify-items: baseline;
    /* border: 2px solid; */
}

.card{
    padding: 1rem 0rem;
    display: flex;

    /* border: 2px solid; */

}

.edu-dec{
    height: 100%;
    width: 7px;
    background-color: black;    

}

.info  {
    padding: 0rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.edu-head  {
    font-size: 1.7rem;
    font-weight: 900;
    letter-spacing: 1.3px;

}

.edu-sub{
    font-size: 1.2rem;
    font-weight: 800;

}

.edu-desc{
    padding-top: .2rem;
}





/* -------------------- */


/* MEDIA QUOERIES */
/* PHONE */

@media screen and (max-width: 640px) {
    
    /* HERO */

    .bg-hero{
        display: none;
    }

    .mob-bg-hero{
        display:block;
        width: 100%;
        height: auto;
        position: relative;
        opacity: .6;

        /* display: none; */
    }

    .hero-img{
        display: none;
    }

    .mob-hero-img{
        display: block;
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 60%; 
        height: auto;
    }

    .hero-name-block{
        width: 100%;
        justify-content: end;
        position: absolute;
        bottom: 5%;
        top: auto;


        /* border: 2px solid white; */
    }

    .hero-name-block h2{
        text-wrap: balance;
        font-size: 13vw;
        letter-spacing: 4px;
        text-align: left;
        line-height: 13.5vw;
        font-weight: 700;
        padding-bottom: .7rem;

    }

    .hero-name-block p{
        font-size: 6vw;
        font-weight: 200;
        opacity: .7;
    
        /* border:2px solid white; */
    }

    .hero-name-block .hero-desc{
        z-index: 1;
        font-size: 4vw;
    }

    .watermark{
        bottom: 95%;
        font-size: 4vw;
    }


    /* WHO AM I */
    .who{
        position: static;
        background-color: var(--p_black);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        /* border: 2px solid red; */
    }
    .who-bg{
        display: none;
    }

    .who h2{
        position: static;
        transform: translate(0,0);
        padding-top: 1.3rem;
        font-size: 1.7rem;
    }

    .pellets{
        position:static;
        transform: translate(0,0);
        width: auto;
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        gap:auto;
    }

    .pellets ul{
        width: auto;
        flex-flow: column nowrap;
        gap: auto;
    }
    
    .pellets li{
        font-size: 1.3rem;
        padding: .6rem 1rem;
        text-align: center;
    }

    /* QUOTE */

    .quote quote{
        font-size: 1rem;
        line-height: normal;
    }

    /* EDUCATION */

    .all-e{
        grid-template-columns: auto;
        gap: 1.5rem;
    }


}