/* VIDEO */
.desk-vid{
    display: none;
}

.mob-vid{
    display: block;
}

video{
    width: 100%;
    height:auto;
    
    /* top: 0;
    left: 0; */
    z-index: 0;    
    opacity: .65;

    /* border: 2px solid red; */ 
}

@media screen and (min-width:560px) {
    video source{
        content: src("/Assets/shortFilms/shortFilms_bg_video_desktop_HD.mp4");
    }

    .desk-vid{
        display: block;
    }

    .mob-vid{
        display: none;
    }
    
}
/* END VIDEO */


/* HERO */

.hero{
    width: min(100%,1600px);
    position: relative;
    margin: auto;

    /* border: 2px solid white; */
}

.hero-card{
    position: absolute;
    bottom: 8%;
    margin-left: 10%;
    padding: .5rem;


    /* border: 2px solid white; */
}

.hero h2{
    font-family: louis;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


.hero-name{
    font-size: 1.5rem;
    padding-top: .2rem;
    font-family: avone;
    letter-spacing: 1.5px;
    font-weight: 400;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, .3);
    animation: 5s steps(1) 1s title-anim ;
}



@keyframes title-anim {

    26%{transform: translateX(50px);color: rgb(220, 255, 255);opacity: .25;}
    30%{transform: translateX(0); color: var(--p_white); opacity: 1;}

    35%{transform: translate(30px, 10px); color: rgb(251, 239, 222);opacity: .45;}
    36%{transform: translate(0px, 0px); color: var(--p_white);opacity: 1;}

    51%{transform: translateX(50px);color: rgb(220, 255, 255);opacity: .25;}
    53%{transform: translateX(0); color: var(--p_white); opacity: 1;}

    75%{transform: translate(60px, 20px); color: rgb(251, 239, 222);opacity: .45;}
    77%{transform: translate(0px, 0px); color: var(--p_white);opacity: 1;}


}

@media screen and (min-width:560px) {
    .hero-card{
        bottom: 10%;
        margin-left: 8%;
    }

    .hero h2{
        font-size: 1.75rem;
    }

    .hero-name{
        font-size: 2.4rem;
    }
    
}


/* END HERO */


/* GALLERY */

.gallery-head{
    display: flex;
    margin-bottom: .8rem;

    /* border:2px solid black; */
}

.gallery-head .deco{
    height: 100%;
    width: 10px;
    background-color: var(--p_black);

    /* border:2px solid black; */
}

.gallery h2{
    color: var(--p_black);
    font-family: tommy;
    font-size: 1.6rem;
    font-weight: 100;
    padding-inline: .65rem;
    padding-block: .2rem;
}

.gallery{
    background-color: var(--p_white);
    padding: 2.4rem;
    padding-top: 2.6rem;
    display: grid;
    gap: 2rem;
    margin: auto;

    /* border:2px solid black; */

}

.card{

    color: var(--p_black);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.12);
    position: relative;
    transition: .5s ease-out;
    border-radius: 5px;
    /* width: 40.1vw; */

    /* border: 2px solid rgb(0, 0, 0); */
}

.card article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;

    /* border: 2px solid mediumspringgreen; */

}

.card article h2{
    font-size: 1rem;
    /* padding-left: 1rem; */
    letter-spacing: 1.5px;

    /* border: 2px solid red; */
}

.card article button{
    padding: .4rem;
    border: none;
    background-color: var(--p_white);
    color: var(--p_black);
    font-family: louis;
    font-size: min(1.2rem,2vw);
    display: flex;
    align-items: center;
    padding-right: 10px;
    border-radius: 5px;
    transition: .3s;

}

.card article button:hover{
    font-weight: 900;
}

.card article button i{
    padding: 5px;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.thumb{
    transition: .3s;
}

.card p{
    color: var(--p_white);
    padding: 2rem;
    display: none;
    position: absolute;
    top: 0;
}

.card-description{
    transition: .5s;
    font-size: 5vw;
    text-align: justify;

    /* border:2px solid aqua; */
}

.card:hover .thumb{
    filter: grayscale();
    filter: brightness(.4);
}

.card:hover .card-description{
    display: block;
}

.card:hover{
    transform: translateY(-.5rem);
    box-shadow: 10px 15px 0px rgb(191, 191, 191);
}


@media screen and (min-width:560px) {
    .gallery{
        width: min(100%,1600px);
        padding-inline: 5%;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }

    .gallery-head{
        align-items: center;
        height: 100%;
        margin-block: .5rem;
        grid-column: 1/3;
        padding-bottom: 1rem;
    }

    

    .gallery-head h2{
        font-size: 2.6rem;
        /* line-height: 2.7rem; */
    }

    .card-description{
        font-size: 2vw;
    }
    
}
/* GALLERY END */

/* YOUTUBE */

.yt{
    padding-block: 1rem;
    background-color: var(--p_white);


    
    /* border:2px solid white; */
}

.yt article{
    margin: auto;
    display: flex;
    flex-flow: column nowrap;


    /* border:2px solid red; */
}

.yt article p{
    padding-block: 1rem;
    text-align: left;
    color: var(--s_white);
    font-size: 1.16rem;
    font-weight: 600;


    /* border: 2px solid black; */
}

.yt article card{
    display: block;


    /* border: 5px solid aqua; */
}

.yt article div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    border-radius: .25rem;
    padding: 1rem;
    margin: .5rem;
    transition: .3s;

    /* border: 3px solid blueviolet; */
}

.yt article div i{
    padding: .5rem;
    margin-right: .5rem;
    font-size: 2rem;
}

.yt article div:hover{
    transform: translateY(-5px);
    text-shadow: 3px 3px var(--s_white);
    box-shadow: 5px 7px var(--sec_white);
}

    



/* FOOTER */
.contact{
    color: var(--p_white);
    text-align: left;
    margin: auto;
    /* padding: 1rem; */


    
    
    /* border: 2px solid white; */
    
}

footer h2{
    font-family: lemon_m;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem 0rem 1rem 0rem ;

    /* border: 2px solid white; */
}

.wrapper{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    flex-flow: column nowrap;

    /* border: 2px solid white; */
}

.wrapper quote{
    font-family: trinco;
    padding: 1rem;
    font-size: 1.2rem;
    padding-top: 2rem;
    

    /* border: 2px solid white; */
}

.con-card  {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    padding: .3rem;
    align-items: center;
}

.con-card i{
    padding: .5rem;
    font-size: 1.2rem;
}

@media screen and (min-width:560px) {

    .yt article card{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        max-width: min(85vw,1200px);

    }


    .yt article div{
        /* max-width: 350px; */
    }

    .wrapper{
        flex-flow: row nowrap;
        gap: 1.5rem;
    }
    
}